.row {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.row > * {
    padding-right: 5px;
    padding-left: 5px;
    min-width: 400px;
}

.row > div {
    width: 100%;
}

.row > div > table {
    width: 100%;
    display: table;
}

.row > *:last-child {
    border: 0;
}

td {
    min-width: 100%;
}

form.order-cancel {
    border: 0;
    max-width: none;
    min-width: auto;
    padding: 0;
    display: inline-block;

    & input[type="submit"] {
        padding: 5px;
    }
}

:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #118bee15;
    --color-bg: #fff;
    --color-bg-secondary: #118bee;
    --color-link: #118bee;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}